files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            5 6 * * 2-6 root /usr/local/bin/myscript.sh
            25 14 * * 1-5 root /usr/local/bin/myscript2.sh
            10 6 * * 2-6 root /usr/local/bin/myscript3.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            #date > /tmp/date
            # Your actual script content
            /usr/bin/wget -O /dev/null https://stockscreener411.live/daily_tracker_updates
            exit 0

    "/usr/local/bin/myscript2.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            #date > /tmp/date
            # Your actual script content
            /usr/bin/wget -O /dev/null https://stockscreener411.live/daily_mongo_updates
            exit 0

    "/usr/local/bin/myscript3.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            #date > /tmp/date
            # Your actual script content
            /usr/bin/wget -O /dev/null https://stockscreener411.live/email_all_custom_queries
            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"