files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*

  "/opt/elasticbeanstalk/tasks/taillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/02-sample-app.conf":
    content: |
      /tmp/sample-app-2*

  "/opt/elasticbeanstalk/tasks/taillogs.d/02-sample-app.conf":
    content: |
      /tmp/sample-app-2.log